@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Varela+Round&display=swap');
body{
    background-image: linear-gradient(0deg, rgb(2, 2, 110), black );
    
}
*{
    margin: 0;
    padding: 0;
}
nav{
    font-family: 'Varela Round', sans-serif;
}
nav ul li{
    padding: 0 12px;
}
nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: black;
    color: white;
}
.logo img{
    width:  44px;
    padding: 0 8px;
}
.logo{
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 1.3rem;
}
.container{
    min-height: 64vh;
    background-color: black;
    color: white;
    font-family: 'Varela Round', sans-serif;
    display: flex;
    margin: 23px auto;
    width: 70%;
    border-radius: 12px;
    padding: 34px;
    background-image: url(bg/.jpg);
    background-size: cover;
}
.bottom{
    position: sticky;
    bottom: 0;
    height: 92px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 80px;
}
.design{
    margin-top: 30px;
    margin-left: -25px;
    font-family: 'Varela Round', sans-serif;
    text-decoration: none;
    color: white;
 
}
.design1{
    font-family: 'Varela Round', sans-serif;
    text-decoration: none;
    color: white;
}
#progress{
    text-align: center;
    width: 80vw;
    margin-top: 20px;
    cursor: pointer;
    margin-top: 50px;

}
.songItemscontainer{
    margin-top: 74px;
}
.icons{
 margin-top: 5px;
 cursor: pointer;
}
.songItems{
    height: 50px;
    display: flex;
    background-color: white;
    width: 80%;
    color: black;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;
}
.songItems img{
    width: 43px;
    margin: 0 23px;
    border-radius: 34px;
    cursor: pointer;
    
}

.songlistplay{
    margin-top: 1px;
    margin-right: -66px;
}
.songinfo{
    position: absolute;
    left: 10vw;
    font-family: 'Varela Round', sans-serif;

}
.songinfo img{
    opacity: 0;
    transform: opacity 1s ease-in;
}
#ab{
    margin-right: -10px;
}
.timestamp{
     margin-left: -150px;
     cursor: pointer;
}
.songNme{
    margin-left: -140px;
}
::-webkit-scrollbar {
    width: 20px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background:rgb(2, 2, 110); 
    background-image: linear-gradient(0deg, rgb(2, 2, 110), black );
    border-radius: 10px;
  }
